@font-face {
    font-family:"Playfair Display";

    src:url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    	url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    	url("../fonts/PlayfairDisplay-Regular.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:"Playfair Display";

    src:url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"),
    	url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff"),
    	url("../fonts/PlayfairDisplay-BlackItalic.otf") format("opentype");
    
    font-style: italic;
    font-weight: 700;
}

.navbar_logo{
	max-width: 70px;
}
.navbar-brand{
	left: 30vw;
	height: auto;
	padding: 10px;
	margin-left: 20vw;
}
.navbar{
	background-color: black;
	border-radius: 0;
	color: white;
	margin-bottom: 0;
}
a {
	text-shadow: 0 0px 0;
	color: white;
}
.icon-bar{
	background-color: white;
}
.navbar-right{
	padding: 0 15vw 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
}
.jumbotron{
	background-image: url(https://raw.githubusercontent.com/carocuevas/ACTP_2_maquetacion/master/Assets/img/post-image.jpg);
	margin: 0;
	background-position: center-bottom;
	background-size: cover;
	padding: 30vh;
}
h1{ 
	font-family:"Playfair Display";
	font-style: italic;
	text-align: center;
	padding: 0 10vw 0 10vw;
}
.jumbotron .h1, .jumbotron h1{
	color: white;
}
.container{
	font-family: roboto;
	padding: 0 10vw 0 10vw;
	font-style: normal;
	line-height: 1.7em;
	font-weight: 300;
}
.datetime{
	font-family:"Playfair Display";
}
.iconodate{
	border: solid 1px #eee;
	border-radius: 50px;
	width: 0;
	padding-left: 6px;
	padding-right: 17px;
}
.date{
	padding: 3em 0 2em 0;
}
section p a{
	text-decoration: none;
	color: #ff9000;
}
section i{
	color: white;
}
.icons{
	background-color: #989898;
	border-radius: 50px;
	margin: 10vh 1vw;
	font-size: 2em;
	margin: 0.5em 5em 0,5em 5em;
	display: inline;
	padding: 0.4em;
	float: left;
}
h5{
	color: white;
	font-weight: lighter;
	font-size: 1rem;
	margin-left: 1em;
	margin-right: 1em;
	vertical-align: middle;
	float:left;
}
.fa-comment{
	float:left;
}
.container_about{
	border: solid 1px #eee;
	margin: 0;
	box-sizing: border-box;
	padding: 5vh 0;
}
.me{
	border: solid 1px #eee;
	border-radius: 100px;
	max-width: 90%;
    height: auto;
}
h6{
	font-weight: lighter;
	line-height: 20px;
}
p{
	font-weight: lighter;
}
footer{
	background-color: black;
}
.footer_logo{
	width: 100px;
    height: auto;
    margin-left: 45vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.slider{
	background-color: #eee;
	width: 100vw;
	height: 80px;
	position: relative;
}

.slider li {
	text-align: center;
	padding-top: 5vh;
	color: #656565;
}

/*css carrousel*/
.jcarousel-clip{
	width: 100vw;
	position: relative;
	overflow: hidden;
}

.jcarousel-clip li{
	width: 100vw;
	float: left;
}

.jcarousel-clip li img{
	width: 100vw;
}

#prev, #forw{
	padding: 0;
	background: #aaa;
	text-align: center;
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 50px;
	text-decoration: none;
	font-size: 25px;
	font-family: arial, sans-serif;
	display: block;
}
#prev{
	position: absolute;
	z-index: 10;
	top: 25%;
	left: 30vw;
}

#forw{
	position: absolute;
	z-index: 10;
	right: 30vw;
	top: 25%;
}
h4{
	font-family:"Playfair Display";
	font-style: italic;
}
.col-md-1 {
	width: auto;
}
.icons_varios{
	margin-left: 10vw;
	clear: both;
	box-sizing: border-box;
}

